<body>

  <div class="large-9 columns" role="content">

  <h3>Listing Users</h3>

  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th colspan="4">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= link_to 'Show', user %></td>
          <% if can? :update, user %>
            <td><%= link_to 'Edit', edit_user_registration_path(user) %></td>
          <% end %>
          <% if can? :destroy, user %>
            <td><%= link_to 'Destroy', user, method: :delete, 
            data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <td><%= link_to "Login As", masquerade_path(user) %>
          </td>        
        </tr>
      <% end %>
    </tbody>
  </table>



  </div>

  <aside class="large-3 columns">

    <div class="panel">
      <%= render '/layouts/sidebar2' %>
    </div>

  </aside>

</body>
</html>
