<body>
  
  <div class="large-9 columns" role="content">
  
    <h1>Editing "<%= @book.title %>"</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @book %> |
    <%= link_to 'Back', books_path %>

  </div>

  <%= render 'sidebar' %>

</body>