<body>
  
  <div class="large-9 columns" role="content">

    <p>
      <strong>Title:</strong>
      <%= @book.title %>
    </p>

    <p>
      <strong>Author:</strong>
      <%= @book.author %>
    </p>

    <p>
      <strong>ISBN:</strong>
      <%= @book.ISBN %>
    </p>

    <%= link_to 'Edit', edit_book_path(@book) %> |
    <%= link_to 'Back', books_path %>

  </div>

  <aside class="large-3 columns">

    <h5>Reviews & Comments </h5>
    <ul class="side-nav">
      <li><a href="#">Comment 1</a></li>
      <li><a href="#">Comment 2</a></li>
      <li><a href="#">Etc.</a></li>
    </ul>

    <div class="panel">
      <h5>Featured</h5>
      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
      <a href="#">Read More →</a>
    </div>

  </aside>
 
</body>
