<%= div_for review do %>

	<p>
      <strong>
      <%= review.username %> &lt;<%= review.email %>&gt
      </strong>
      <% if current_user.username == review.username %>
        (Hey!  That's you!)
      <% end %>

      said:<br>

      "<%= review.body %>"<br>

      <%if current_user.username == review.username %>
        <span class='actions'>
          <%= link_to('Delete review', [@book, review],
          confirm: 'Delete the review, are you sure?', 
          method: :delete) %>
        </span>
      <% end %>
    </p>

<% end %>