<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LctrLib | Index</title>
    <link rel="stylesheet" href="../../assets/css/foundation.css" />
    <script src="../../assets/js/vendor/modernizr.js"></script>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a href= "/" class="button">Home</a></li>
         <li><a href= "/books" class="button">Books</a></li>
         <li><a href="/users" class="button">Users</a></li>
         <li><a href="#" class="button">Something Else</a></li>
        </ul>
      </div>
      <h1>Library <small>Adv. Rails Summer 2014 Project.</small></h1>
      <hr/>
    </div>
  </div>

    <%= yield %>

  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>MIT License, Neil Woodward</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="http://www.amazon.com" class="button">Buy more books at Amazon.com!</a></li></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
    
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>


    <%= javascript_include_tag "application" %>
  </body>
</html>