<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LctrLib</title>


    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row">
      <div class="large-12 columns">
        <div class="nav-bar right">
          <ul class="button-group">
            <li><a href= "/" class="button">Home</a></li>
            <li><a href= "/books" class="button">Books</a></li>
            <li><a href="/users" class="button">Users</a></li>
            <% unless current_user.username == "guest" %>
              <li><a href="/users/sign_out" data-method="delete" class="button">Log Out</a></li>
            <% else %>
              <li><a href="/users/sign_in" class="button">Log In</a></li>
            <% end %>          
          </ul>
        </div>
        <h1>Library <small>Adv. Rails Summer 2014 Project.</small></h1>
        <% if user_signed_in? %>
          <%= "Signed in as #{current_user.username}." %>
        <% end %>
        <% if user_masquerade? %>
          <br><%= "Currently masquerading.  " %>
          <%= link_to "Reverse masquerade", back_masquerade_path(current_user) %>
        <% end %>
        <% if current_user.is_admin? %>
          <br><%= "You have admin rights." %>
        <% end %>
        <% if current_user.is_blocked? %>
          <br><%= "You have been blocked by the site admin.  You cannot review or rate." %>
        <% end %>
        <hr/>
      </div>
    </div>

    <div class="row">

    <font color="green"><p class="notice"><%= notice %></p></font>
    <font color="red"><p class="alert"><%= alert %></p></font>

    <%= yield %>

    </div>

    <footer class="row">
      <div class="large-12 columns">
        <hr/>
        <div class="row">
          <div class="large-6 columns">
            <p>MIT License, Neil Woodward</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="http://www.amazon.com" class="button">Buy more books at Amazon.com!</a></li></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
    <script>
      $(document).foundation();
    </script>


    <%= javascript_include_tag "application" %>
  </body>
</html>